service fingerprint-inscreen-1-0 /system/bin/hw/mokee.biometrics.fingerprint.inscreen@1.0-service.m1926
    interface vendor.mokee.biometrics.fingerprint.inscreen@1.0::IFingerprintInscreen default
    class hal
    user system
    group system input
    shutdown critical
